Ghostfolio/bitvavoCrypto2Ghost.csv
Ghostfolio/bitvavoCrypto2Ghost.json
Ghostfolio/bitvavoCryptoSheet.csv
Ghostfolio/bitvavoCryptoSheet.csv.old
Ghostfolio/bitvavoCryptoSheetJB.csv
Ghostfolio/bitvavoSkippedLines.csv
Ghostfolio/bitvavoSkippedLines.csv.bak
Ghostfolio/CoinbaseCrypto2Ghost.csv
Ghostfolio/CoinbaseCrypto2Ghost.json
Ghostfolio/CoinbaseCrypto2Ghost.json.bak
Ghostfolio/CoinbaseCryptoSheet.csv
Ghostfolio/CoinbaseSkippedLines.csv.bak
Ghostfolio/deGiroAccount_psExp.csv
Ghostfolio/deGiroAccount_psExp.json
Ghostfolio/deGiroAccount.csv
Ghostfolio/deGiroSkippedLines.csv
Ghostfolio/ghostfolio-crypto-export-202311040023.json.bak
Ghostfolio/bitvavoCrypto2Ghost.csv
fireFlyIII/X59233900*
fireFlyIII/Ings_Alle_rekeningen*
fireFlyIII/importer_ing_custom.json
fireFlyIII/importer_ing_custom_savings.json
fireFlyIII/fireFlySkippedLines.csv
fireFlyIII/import_Ings_Alle_rekeningen.csv
fireFlyIII/fireFlySkippedLines*
fireFlyIII/.~lock.*
